In [2]:
print("abc")

abc

In [3]:
i=1+1

In [5]:
print(i)

2

In [7]:
2*3

6

In [9]:
x=[1,2,3,4]

In [11]:
[num+1 for num in x]

[2, 3, 4, 5]

In [16]:
def num(abc):
    """
    MY DOC STRING
    """
    return abc

In [27]:
def cross2(num):
	return num*2

In [28]:
list(map(cross2,x))

[2, 4, 6, 8]

In [33]:
#lambda fns
t=lambda num: num*2

In [35]:
t(5)

10

In [38]:
list(map(lambda x:x*3,x))

[3, 6, 9, 12]

In [39]:
#using filter to filter out even elems
list(filter(lambda x:x%2==0,x))

[2, 4]

In [40]:
list1=[(1,2),(3,4)]

In [41]:
#tuple unpacking
for a,b in list1:
    print(a)

1
3